<h1>Word Lists</h1>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Number of words</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @word_lists.each do |word_list| %>
      <tr>
        <td><%= link_to word_list.title, word_list %></td>
        <td><%= word_list.author %></td>
        <td><%= word_list.words.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Word list', new_word_list_path, :class => "btn btn-default" %>
