// Place all the styles related to the Exercise controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1{
	text-align:left;
}

body{
	padding-top: 50px;
	background-color: #3E4D52;
}

.row-dark{
	padding: 20px 0;
}
.row-light{
	padding: 20px 0;
}

#question{
	margin-top:20px;
}

.vals{
	width:70px !important;
}

#answer{
	width:100%;
	margin:0 auto;
}
#answer-form{
	margin: 10px auto;
	margin-top:0;
}

.vocab-settings {
    display:table;
    border-collapse:collapse;
    width:100%;
    div {
	    display:table-cell;
	    vertical-align: middle;
	}
}
.vocab-settings-right {
    width:500px;
}

.vocab-settings-left{
    padding-right: 20px;
}

#vocab-slide{
	width:100%;
	// margin: 20px auto;
	// margin-right: 20px;
}

.slider-disabled{
	.slider-selection{
		background:#AAA !important;
	}
	.slider-handle{
		background:#999 !important;
	}
}
#vocab-slide .slider-selection{
	background:#0e90d2;
}
#vocab-slide .slider-handle{
	background:#0066cc;
	outline:none;
}

#numwords-label{
	margin: 0 20px 0 0;
	display:inline-block;
	font-size:34px;
	width:205px;
	vertical-align:middle;
	text-align:right;
}

#start{
	width:100px;
	outline:none;
}

#start-form{
	margin:10px auto;
}

#history{
	p{
		font-size: 20px;
		margin: 5px 0;
	}
}

#report{
	p{
		font-size: 20px;
		margin: 5px 0;
	}
	h3{
		margin: 5px 0;
	}
}

.progress{
	overflow:visible;
}

.progress-bar {
	color: white;
    overflow-x:visible;
    white-space:nowrap;
}

#exercise-label{
	float:left;
	position:absolute;
	margin-left:5px;	
}

#alert-msg{
	vertical-align:middle;
	font-size:20px;
}

#awesome-btn{
	outline:none;
}