// Place all the styles related to the Exercise controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.words-and-start{
	max-width:500px;
}

.headline{
	position:absolute;
	font-size: 28px;
	top:28px;
	color:#DDD;
	z-index:2;
}

body{
	padding-top: 50px;
	background-color: #EEE;
}

.info{
	display:none;
	.wordlist{
		font-weight: bold;
	}
}	

.row-odd{
	background-color:white;
	padding: 20px 0;
	.headline{
		color: #EEE;	
	}
}
.row-even{
	padding: 20px 0;
}

#name-form{
	display:inline-block;
}

#question{
	margin-top:20px;
}

.q-and-a{
	margin: 40px auto;
}

.vals{
	width:70px !important;
}

#answer{
	margin:0 auto;
	margin-bottom:10px;
	max-width:500px;
}

.vocab-settings {
    display:table;
	margin-bottom: 10px;
    border-collapse:collapse;
    width:100%;
    div {
	    display:table-cell;
	    vertical-align: middle;
	}
}
.vocab-settings-right {
    width:150px;
}

.vocab-settings-left{
    padding-right: 20px;
}

#vocab-slide{
	width:100%;
	// margin: 20px auto;
	// margin-right: 20px;
}

.slider-disabled{
	.slider-selection{
		background:#AAA !important;
	}
	.slider-handle{
		background:#999 !important;
	}
}
#vocab-slide .slider-selection{
	background:#0e90d2;
}
#vocab-slide .slider-handle{
	background:#0066cc;
	outline:none;
}

#numwords-label{
	font-size:34px;
	line-height:34px;
	vertical-align:middle;
}

#start{
	width:200px;
	height:40px;
	outline:none;
}

#start-form{
	margin:10px auto;
}

#history{
	p{
		font-size: 18px;
		line-height: 20px;
		margin:0;
	}
	p:first-child{
		font-size: 30px;
		line-height: 32px;
	}
}

#report{
	p{
		font-size: 20px;
		margin: 5px 0;
	}
	h3{
		margin: 5px 0;
	}
}

.progress{
	overflow:hidden;
}

.progress-bar {
	color: white;
    overflow-x:visible;
    white-space:nowrap;
}

#exercise-label{
	float:left;
	position:relative;
	margin-left:5px;	
}

#alert-msg{
	vertical-align:middle;
	font-size:20px;
}

#awesome-btn{
	outline:none;
}