@media(max-width: $screen-md-max){

.vals{
	display:inline-block;
}

.form-horizontal .control-label {
	text-align: right;
	margin-bottom: 0;
	padding-top: 7px;
}

#start{
	width:140px;
}

.q-and-a{
	margin: 10px auto;	
}

#history{
	p{
		font-size: 15px;
	}
	p:first-child{
		font-size: 20px;
	}
}

}