@media(max-width: $screen-md-max){

.vals{
	display:inline-block;
}

.form-horizontal .control-label {
	text-align: right;
	margin-bottom: 0;
	padding-top: 7px;
}

#start{
	width:100%;
}

.q-and-a{
	margin: 10px auto;	
}

#history{
	p{
		font-size: 15px;
	}
	p:first-child{
		font-size: 20px;
	}
}

#numwords-label{
	font-size: 26px;
}

#name-form{
	margin: 10px 0;
	width:100%;
	display:block;
}

.form-btn{
	margin: 0;
	margin-bottom: 15px;
}

}