// Place all the styles related to the statistics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.graph .description{
	margin: 20px;	
	p{
		margin: 5px 0;
		font-size:20px;
		line-height: 25px;
	}
}

#last-training-toggle{
	margin-left: 20px;
}

.word_list_words_text{
	height:200px;	
	max
}