// Place all the styles related to the WordLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.word{
	margin:5px;
}

#word-list-instructions{
	margin-left: 20px;
	p{
		margin:0;
	}
}

.form-btn{
	margin: 10px 0;
}